extends ../layouts/email

block content
    h1 Game - Email Confirmation
    #container.col
        p Hi,
        p In order to activate your account on the application, you need to confirm  this email.
        p 
            a(href=url + email) Click here to confirm.