doctype html
html(lang='en')
  head
    title Login
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // ===============================================================================================
    link(rel='icon', type='image/png', href='/images/icons/favicon.ico')
    link(rel='stylesheet', type='text/css', href='vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='fonts/font-awesome-4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='vendor/animate/animate.css')
    link(rel='stylesheet', type='text/css', href='vendor/css-hamburgers/hamburgers.min.css')
    link(rel='stylesheet', type='text/css', href='vendor/select2/select2.min.css')

    link(rel='stylesheet', type='text/css', href='stylesheets/login/util.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/login/main.css')
    // ===============================================================================================
  body
    .limiter
      .container-login100
        .wrap-login100
          .login100-pic.js-tilt(data-tilt='')
            img(src='/images/img-01.png', alt='IMG')
          form.login100-form.validate-form
            span.login100-form-title
              | Register Member
            .wrap-input100.validate-input(data-validate='Valid email is required: ex@abc.xyz')
              input#email.input100(type='text', name='email', placeholder='Email')
              span.focus-input100
              span.symbol-input100
                i.fa.fa-envelope(aria-hidden='true')
            .wrap-input100.validate-input(data-validate='Choose your nickname')
              input#nickname.input100(type='text', name='nickname', placeholder='Nickname')
              span.focus-input100
              span.symbol-input100
                i.fa.fa-user(aria-hidden='true')
            .wrap-input100.validate-input(data-validate='Password is required')
              input#password.input100(type='password', name='password', placeholder='Password')
              span.focus-input100
              span.symbol-input100
                i.fa.fa-lock(aria-hidden='true')
            .wrap-input100.validate-input(data-validate='Confirm Password')
              input#passConf.input100(type='password', name='passConf', placeholder='Confirm Password')
              span.focus-input100
              span.symbol-input100
                i.fa.fa-lock(aria-hidden='true')
            .container-login100-form-btn
              button#register_user.login100-form-btn
                | Register
            .text-center.p-t-12
              span.txt1
                | Already registered 
              a.txt2(href='/login')
                | Login
    // ===============================================================================================
    script(src='vendor/jquery/jquery-3.2.1.min.js')
    // ===============================================================================================
    script(src='vendor/bootstrap/js/popper.js')
    script(src='vendor/bootstrap/js/bootstrap.min.js')
    // ===============================================================================================
    script(src='vendor/select2/select2.min.js')
    // ===============================================================================================
    script(src='vendor/tilt/tilt.jquery.min.js')
    script.
      $('.js-tilt').tilt({
      scale: 1.1
      })
    // ===============================================================================================
    script(src='javascripts/auth/main.js')
    script(src='javascripts/auth/register.js')