link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='icon', type='image/png', href='/images/icons/favicon.ico')
link(rel='stylesheet', type='text/css', href='vendor/bootstrap/css/bootstrap.min.css')
link(rel='stylesheet', href='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
link(rel='stylesheet', href='/stylesheets/chooseCivilisation.css')
link(rel='stylesheet', href='/@glidejs/glide/dist/css/glide.core.min.css')
link(rel="stylesheet", href="/@glidejs/glide/dist/css/glide.theme.min.css")
link(rel="stylesheet", href="/swiper/dist/css/swiper.min.css")