script(src="https://cdn.jsdelivr.net/gh/space10-community/conversational-form@0.9.70/dist/conversational-form.min.js" crossorigin)
script(src='vendor/jquery/jquery-3.2.1.min.js')
script(src='javascripts/auth/login.js')
script(src='javascripts/user/user-menu.js')
script(src='javascripts/cookies.js')
script(src='vendor/bootstrap/js/bootstrap.min.js')