body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.user-image {
  width: 50px;
  height: 50px;
}
.navbar-menu-buttons {
  float: right;
}
.navbar {
  z-index: 0;
  background-color: #FFEEE4;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) ;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) ;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) ;
}
.container-fluid {
  display: block !important;
}
.user-menu {
  background-color: #ffffff;
  display: none;
  width: 300px;
  float: right;
  margin-right: 30px;
  position: relative; 
  margin-top: -5px;
  z-index: 1;
  -webkit-box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -moz-box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
       box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.info-container{
  padding: 5px;
  padding-left: 10px;
}
.info-container h5, .info-container p {
  margin-bottom: 0;
}
#user-information {
  background-color: #eeeeee;
  padding: 15px;
  margin: 0px;
}
.buttons-container {
  margin-top: 10px;
}
.user-menu-btn {
  width: 100%;
  text-align: left !important;
  background-color: transparent;
}
.user-menu-btn i {
  margin-left: 5px;
  margin-right: 40px;
}
.user-menu-btn:hover {
  background-color: #eeeeee;
}