doctype html
html
  head
    title= title
    include ../../includes/head.jade
  body
    #container.row
        .col-md-5.info
            h2.name
            p.description
        .col-md-7
           .swiper-container
                .swiper-wrapper
                    .swiper-slide(style='background-image:url(http://lorempixel.com/600/600/nature/1)')
                    .swiper-slide(style='background-image:url(http://lorempixel.com/600/600/nature/2)')
                    .swiper-slide(style='background-image:url(http://lorempixel.com/600/600/nature/3)')
                // Add Pagination
                .swiper-pagination
    .row 
        .col-md-5.text-center
            section.portfolio-experiment
                a#select
                    span.text Selectează
                    span.line.-right
                    span.line.-top
                    span.line.-left
                    span.line.-bottom
        .col-md-7.numeSat.text-center
            label.inp(for='inp')
                input#inp.input(type='text', placeholder=' ')
                span.label Alege numele primului tău sat
                span.border
script(src='vendor/bootstrap/js/popper.js')               
script(src='vendor/jquery/jquery-3.2.1.min.js')
script(src='vendor/bootstrap/js/bootstrap.min.js')
script(src='swiper/dist/js/swiper.min.js')
script(src='javascripts/cookies.js')
script(src='javascripts/user/chooseCivilisation.js')
