extends ../layout

block content
    body.background
        div.container
            div.row
                div.background-color-change-password.padding
                    div.text-center
                        i.fa.fa-meh-o.fa-3x.red-color
                        span.title.red-color.padding-title Oops.
                        span.title.red-color.padding-title Something went wrong
                        hr.hr_color
                    div.text-color
                        p We're sorry, but the email doesn't exist.