extends ../layout

block content
    div.background_password_ch
        div.container
            div.row
                div.background-color-change-password.padding
                    div.text-center
                        i.fa.fa-check-circle.fa-3x.green-color
                        span.title.green-color.padding-title Email confirmed!
                        hr.hr_color
                    div.text-color
                        p Congratulations!
                        span.txt1
                            | You can now 
                        a.txt2(href='/login')
                            | access 
                        span.txt3
                            | the application.