doctype html
html
  head
    title= title
    include ../includes/head.jade
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header.navbar-menu-buttons
          a(href='#')#menu-user-icon-button
            img(alt='Brand', src='/images/site/default-user.png').user-image.img-circle
    .user-menu#user-menu
      #user-information.row
        .image-container
           img(alt='Brand', src='/images/site/default-user.png').user-image.img-circle
        .info-container
          h5#menu-nickname  
          p#menu-email
      .buttons-container
        button.btn.user-menu-btn#signout
          i.fa.fa-sign-out
          | Sign Out
    block content

  include ../includes/scripts.jade